/* line 4, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 41, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 44, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 47, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 49, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 51, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 53, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 26, ../../app/stylesheets/screen.scss */
body.bp {
  height: 100%;
  background: #eaf3f8 url(/images/body.png) repeat-x 50% 0;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  /* -------------------------------------------------------------------------------------------------
  
  It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
  this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
  This will allow you to update formtastic.css with new releases without clobbering your own changes.
  
  This stylesheet forms part of the Formtastic Rails Plugin
  (c) 2008-2011 Justin French
  
  --------------------------------------------------------------------------------------------------*/
  /* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just .formtastic
  --------------------------------------------------------------------------------------------------*/
  /* SEMANTIC ERRORS
  --------------------------------------------------------------------------------------------------*/
  /* BUTTONS
  --------------------------------------------------------------------------------------------------*/
  /* INPUTS
  --------------------------------------------------------------------------------------------------*/
  /* LEFT ALIGNED LABELS
  --------------------------------------------------------------------------------------------------*/
  /* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
  --------------------------------------------------------------------------------------------------*/
  /* INLINE HINTS
  --------------------------------------------------------------------------------------------------*/
  /* INLINE ERRORS
  --------------------------------------------------------------------------------------------------*/
  /* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE, SEARCH (ETC) OVERRIDES
  --------------------------------------------------------------------------------------------------*/
  /* TEXTAREA OVERRIDES
  --------------------------------------------------------------------------------------------------*/
  /* HIDDEN OVERRIDES
  --------------------------------------------------------------------------------------------------*/
  /* BOOLEAN LABELS
  --------------------------------------------------------------------------------------------------*/
  /* CHOICE GROUPS
  --------------------------------------------------------------------------------------------------*/
  /* ADJUSTMENTS FOR INPUTS INSIDE LABELS (boolean input, radio input, check_boxes input)
  --------------------------------------------------------------------------------------------------*/
  /* FRAGMENTED INPUTS (DATE/TIME/DATETIME)
  --------------------------------------------------------------------------------------------------*/
}
/* line 65, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 67, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 21, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 24, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 27, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 78, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 80, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 81, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 83, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 86, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 89, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 91, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 92, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 94, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 97, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 101, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 102, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 103, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1311788716');
}
/* line 4, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../Users/woodhull/.rvm/gems/ruby-1.9.2-p136@congressconnect/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 17, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic ol,
body.bp .formtastic ul {
  list-style: none;
}
/* line 24, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square;
}
/* line 30, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 39, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .buttons {
  overflow: hidden;
  /* clear containing floats */
  padding-left: 25%;
}
/* line 44, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .button {
  float: left;
  padding-right: 0.5em;
}
/* line 52, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .inputs {
  overflow: hidden;
  /* clear containing floats */
}
/* line 56, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .input {
  overflow: hidden;
  /* clear containing floats */
  padding: 0.5em 0;
  /* padding and negative margin juggling is for Firefox */
  margin-top: -0.5em;
  margin-bottom: 1em;
}
/* line 66, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .input .label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em;
}
/* line 74, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragments .label,
body.bp .formtastic .choices .label {
  position: absolute;
  width: 95%;
  left: 0px;
}
/* line 81, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragments .label label,
body.bp .formtastic .choices .label label {
  position: absolute;
}
/* line 87, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choices {
  position: relative;
}
/* line 91, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choices-group {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 98, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choice {
  padding: 0;
  border: 0;
}
/* line 106, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .input .inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%;
}
/* line 114, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}
/* line 119, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}
/* line 125, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 134, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .stringish input {
  width: 72%;
}
/* line 138, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .stringish input[size] {
  width: auto;
  max-width: 72%;
}
/* line 146, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .text textarea {
  width: 72%;
}
/* line 150, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .text textarea[cols] {
  width: auto;
  max-width: 72%;
}
/* line 158, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .hidden {
  display: none;
}
/* line 165, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .boolean label {
  padding-left: 25%;
  display: block;
}
/* line 173, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choices-group {
  margin-bottom: -0.5em;
}
/* line 177, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choice {
  margin: 0.1em 0 0.5em 0;
}
/* line 181, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choice label {
  float: none;
  width: 100%;
  line-height: 100%;
  padding-top: 0;
  margin-bottom: 0.6em;
}
/* line 193, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .choice label input,
body.bp .formtastic .boolean label input {
  margin: 0 0.3em 0 0.1em;
  line-height: 100%;
}
/* line 201, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragments {
  position: relative;
}
/* line 205, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragments-group {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 212, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragment {
  float: left;
  width: auto;
  margin: 0 .3em 0 0;
  padding: 0;
  border: 0;
}
/* line 220, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragment label {
  display: none;
}
/* line 224, ../../app/stylesheets/partials/_formtastic.scss */
body.bp .formtastic .fragment label input {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 1, ../../app/stylesheets/app/form.scss */
body.bp form .input-box input {
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-style: none;
  border-left-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-top-style: none;
  border-top-width: 0px;
  color: #888;
  cursor: auto;
  display: block;
  float: left;
  font-family: 'Lucida Grande';
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 21px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 7px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;
  vertical-align: baseline;
  width: 220px;
  word-spacing: 0px;
  font-size: 1.1em;
  height: 21px;
  padding: 7px 0;
  border: none;
  background: url(/images/forms/mid.png) repeat-x top left;
  float: left;
}
/* line 48, ../../app/stylesheets/app/form.scss */
body.bp input:focus, body.bp textarea:focus {
  outline: none;
}
/* line 50, ../../app/stylesheets/app/form.scss */
body.bp form .input-box .input-left {
  width: 20px;
  height: 35px;
  background: url(/images/forms/sprite.png) no-repeat 0 -201px;
  float: left;
}
/* line 58, ../../app/stylesheets/app/form.scss */
body.bp form .input-box .input-right {
  width: 20px;
  height: 35px;
  background: url(/images/forms/sprite.png) no-repeat -40px -201px;
  float: left;
}
/* line 65, ../../app/stylesheets/app/form.scss */
body.bp #district_lookup_postal_code {
  width: 100px;
}
/* line 69, ../../app/stylesheets/app/form.scss */
body.bp #district_lookup_submit {
  margin: 8px 10px 10px 20px;
}
/* line 73, ../../app/stylesheets/app/form.scss */
body.bp .input-box {
  margin: 14px;
}
/* line 1, ../../app/stylesheets/app/content.scss */
body.bp .share {
  margin: 20px;
  float: right;
}
/* line 4, ../../app/stylesheets/app/content.scss */
body.bp .share #fb-share {
  margin: 5px;
  display: block;
  background: url(/images/forms/sprite.png) no-repeat -66px -136px;
  width: 33px;
  height: 33px;
  float: right;
  cursor: pointer;
}
/* line 14, ../../app/stylesheets/app/content.scss */
body.bp .share #twitter-share {
  margin: 5px;
  float: right;
  display: block;
  background: url(/images/forms/sprite.png) no-repeat 0 -136px;
  width: 33px;
  height: 33px;
  cursor: pointer;
}
/* line 28, ../../app/stylesheets/app/content.scss */
body.bp a.minimalist {
  color: #999;
}
/* line 32, ../../app/stylesheets/app/content.scss */
body.bp .container {
  width: 100%;
}
/* line 35, ../../app/stylesheets/app/content.scss */
body.bp .container .content {
  min-height: 600px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 40, ../../app/stylesheets/app/content.scss */
body.bp .container .header-container {
  width: 100%;
  background: #FFF;
}
/* line 45, ../../app/stylesheets/app/content.scss */
body.bp .container .header-container .header {
  height: 120px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 46, ../../app/stylesheets/app/content.scss */
body.bp .container .header-container .header img {
  margin-top: 20px;
}
/* line 53, ../../app/stylesheets/app/content.scss */
body.bp .container .header-container .header-strip {
  height: 20px;
  background-color: #42AEE6;
}
/* line 60, ../../app/stylesheets/app/content.scss */
body.bp .container .footer {
  background: #fff;
}
/* line 61, ../../app/stylesheets/app/content.scss */
body.bp .container .footer .footer-wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 63, ../../app/stylesheets/app/content.scss */
body.bp .container .footer .footer-wrapper .powered {
  width: 400px;
  margin: 20px auto 0;
  text-align: center;
  color: #555;
  font-family: Georgia;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 73, ../../app/stylesheets/app/content.scss */
body.bp .container .footer .footer-wrapper .logos {
  width: 460px;
  margin: 0 auto 0;
}
/* line 76, ../../app/stylesheets/app/content.scss */
body.bp .container .footer .footer-wrapper .logos img {
  margin: 20px;
}
/* line 85, ../../app/stylesheets/app/content.scss */
body.bp .content-wrapper {
  margin-top: 30px;
}
/* line 90, ../../app/stylesheets/app/content.scss */
body.bp .main-content {
  float: left;
  font-size: 1.1em;
  width: 500px;
  margin: 0px 20px 20px 0px;
}
/* line 99, ../../app/stylesheets/app/content.scss */
body.bp .details-column {
  float: left;
  width: 350px;
  background: #fff;
  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 107, ../../app/stylesheets/app/content.scss */
body.bp .details-column .instructions {
  margin-bottom: 8px;
}
/* line 111, ../../app/stylesheets/app/content.scss */
body.bp .details-column .top-box {
  height: 60px;
}
/* line 116, ../../app/stylesheets/app/content.scss */
body.bp .details-column .status .log {
  width: 170px;
  float: left;
}
/* line 121, ../../app/stylesheets/app/content.scss */
body.bp .details-column .status button.hangup {
  background: url(/images/hang_up_button.png) no-repeat 0 0px;
  width: 165px;
  height: 44px;
  border: 0;
  cursor: pointer;
}
/* line 136, ../../app/stylesheets/app/content.scss */
body.bp .legislator {
  margin-bottom: 12px;
}
/* line 138, ../../app/stylesheets/app/content.scss */
body.bp .legislator .bio {
  width: 170px;
  float: left;
}
/* line 142, ../../app/stylesheets/app/content.scss */
body.bp .legislator .bio .name {
  font-weight: bold;
  font-size: 1.5em;
}
/* line 152, ../../app/stylesheets/app/content.scss */
body.bp .legislator div.call {
  float: left;
}
/* line 155, ../../app/stylesheets/app/content.scss */
body.bp .legislator div.call button.call {
  background: url(/images/call_button.png) no-repeat 0 0px;
  width: 165px;
  height: 44px;
  border: 0;
  cursor: pointer;
}
