%p
  It's outrageous--right-wing factions in Congress are willing to let America go into default and to put our entire economy at risk in order to get big cuts to Social Security and Medicare--all without ending the tax breaks that put us in debt in the first place.
%p
  The negotiations are coming down to the wire and members of Congress from both parties need to hear from constituents who oppose the cuts and don't want to see our nation default.
%p
  %b
    Enter your address and you'll be able to make a call right now, via your computer, to your Representative and Senators to tell them "I don't want America to default and I oppose any cuts Social Security, Medicare, or Medicaid."

